<div class="collectionsCards">
    <div class="collectionCard">
        <div class="newChatbot">
            <p>Create new chatbot</p>
            <a (click)="showModalCreateCollection()">+</a>
        </div>
    </div>
    <div class="collectionCard" *ngFor="let col of collectionsList">
        <img src="../../../assets/imgs/chatbot_default.png">
        <h3>{{col['name']}}</h3>
        <p>{{col['description']}}</p>
        <a [routerLink]="['edit', col['id']]">Edit</a>
    </div>
</div>

<!-- The Modal -->
<div id="NewCollectionModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span (click)="closeModal()" class="close">&times;</span>
        <app-collection></app-collection>
    </div>
  
</div>