
<div class="previewContainer">

    <div class="leftMessage">
        <img src="../../../assets/imgs/chatbot_default.png">
        <div class="content">
            <div class="message">
                <p>Prueba de mensaje del bot con opciones</p>
            </div>
            <div class="options">
                <p>Choose an option</p>
                <button class="previewButton">OPTION 1</button>
                <button class="previewButton">OPTION 2</button>
                <button class="previewButton">OPTION 3</button>
                <button class="previewButton">OPTION 4</button>
            </div>
        </div>
    </div>

    <div class="rightMessage">
        <div class="message">
            <p>Prueba de mensaje de la persona</p>
        </div>
    </div>

    <div class="leftMessage">
        <img src="../../../assets/imgs/chatbot_default.png">
        <div class="content">
            <div class="message">
                <p>Prueba de mensaje del bot con opciones</p>
                <div class="inputMssg">
                    <textarea></textarea>
                </div>
                <button class="previewButton">SEND</button>
            </div>
        </div>
    </div>

</div>
