
<div class="previewContainer" id="container">

    <!--<div class="leftMessage">
        <img src="../../../assets/imgs/chatbot_default.png">
        <div class="content">
            <div class="message">
                <p>Prueba de mensaje del bot con opciones</p>
            </div>
            <div id="options" class="options">
                <p>Choose an option</p>
                <button (click)="createAnswer('option1');" class="previewButton">OPTION 1</button>
                <button (click)="createAnswer('option2');" class="previewButton">OPTION 2</button>
                <button (click)="createAnswer('option3');" class="previewButton">OPTION 3</button>
                <button (click)="createAnswer('option4');" class="previewButton">OPTION 4</button>
            </div>
        </div>
    </div> -->

    <!--<div class="rightMessage">
        <div class="message">
            <p>Prueba de mensaje de la persona</p>
        </div>
    </div>-->

    <!--<div class="leftMessage">
        <img src="../../../assets/imgs/chatbot_default.png">
        <div class="content">
            <div class="message">
                <p>Prueba de mensaje del bot con opciones</p>
                <div class="inputMssg">
                    <textarea></textarea>
                </div>
                <button class="previewButton">SEND</button>
            </div>
        </div>
    </div>-->

</div>
