<div class="nodeB">

    <h2>Node Visualization/Creation</h2>

    <div class="floatLeft">
        <a class="buttonCreate" (click)="showModalCreateNode()">+</a>
        <p>Create new Node</p>
    </div>

    <div class="canvasNodes example-boundary">
        <h3 *ngIf="nodeNumber==0" class="middleScreenText">This chatbot doesn't have nodes. Create new one</h3>
        <ng-container *ngIf="nodeNumber>0">
            <ng-container *ngFor="let node of nodesOfCollection; let i = index">
            <div class="nodeCard example-box" cdkDragBoundary=".example-boundary" cdkDrag style="left: calc(200px + calc(350px * {{i}})) !important;"><!--id="nodeId-{{node['id']}}"-->
                <header class="cardEvent" cdkDragHandle>{{node['title']}}</header>
                <div *ngIf="!node['firstNode'] && node['refOpt'].length == 0" id="nodeId-{{node['id']}}" class="circleNode inCircleEmpty"></div>
                <div *ngIf="!node['firstNode'] && node['refOpt'].length > 0" id="nodeId-{{node['id']}}" class="circleNode inCircleFull"></div>
                <div class="content"><!--TRY TODO DISABLED BODY-->
                    <textarea id="testTextArea" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{node['description']}}</textarea>
                    <div class="listOptions">
                        <!--<div *ngIf="node['title'] == 'Primo nodo'" id="startFArrow" class="listOptionsItem">start</div>
                        <div *ngIf="node['title'] == 'Primo nodo 2'" id="endFArrow" class="listOptionsItem">end</div>-->                            
                            <div class="listOptionsItem" *ngFor="let optn of node['options']" id="optionId-{{optn['id']}}" (click)="addEventListenersForLinkOptionNode(optn['id'])">
                                <div class="editdeleteOption">
                                    <span>D</span>
                                    <span>E</span>
                                </div>
                                <p>{{optn['name']}} {{optn['description']}}</p>
                                <div class="circleOption outCircleEmpty"><p>+</p></div>
                            </div>
                        <div (click)="optionModal(node['id'])" class="listOptionsItem addOption">
                            <p>+ Add Option</p>
                        </div>
                    </div>
                  <!--<div class="icon"><i class='bx bx-move'></i></div>
                  <div class="title">Draggable Div</div>
                  <p>This is a draggable div which is created using HTML CSS & JavaScript. You can move this div anywhere on the document or page.</p>-->
                </div>
            </div>
            </ng-container>
        </ng-container>
    </div>

    <!-- The Modal -->
    <div id="NewNodeModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span (click)="closeModal()" class="close">&times;</span>
            <section>
                <h1>Create new Node:</h1>
                <form [formGroup]="nodeForm" (ngSubmit)="onSubmitNode()">
                    <!--<p>
                        <label>Data:</label>
                        <textarea formControlName="data" required></textarea>
                    </p>-->
                    <p>
                        <label>Title:</label>
                        <input type="text" formControlName="title" required>
                    </p>
                    <p>
                        <label>Description:</label>
                        <textarea formControlName="description" required></textarea>
                    </p>
                    <p>
                        <label>Type:</label>
                        <input type="text" formControlName="type" required>
                    </p>
                    <p>
                        <button type="submit" [disabled]="!nodeForm.valid">Submit</button>
                    </p>
                </form>
            </section>
        </div>
    
    </div>

    <app-option></app-option>

</div>