<div class="nodeB">

    <h2>Node Visualization/Creation</h2>

    <div class="floatLeft">
        <a class="buttonCreate" (click)="showModalCreateNode()">+</a>
        <p>Create new Node</p>
    </div>

    <div class="canvasNodes example-boundary">
        <h3 *ngIf="nodeNumber==0" class="middleScreenText">This chatbot doesn't have nodes. Create new one</h3>
        <ng-container *ngIf="nodeNumber>0">
            <div class="nodeCard example-box" cdkDragBoundary=".example-boundary" cdkDrag *ngFor="let node of nodesOfCollection">
                <header>{{node['title']}}</header>
                <div class="content">
                  <div class="icon"><i class='bx bx-move'></i></div>
                  <div class="title">Draggable Div</div>
                  <p>This is a draggable div which is created using HTML CSS & JavaScript. You can move this div anywhere on the document or page.</p>
                </div>
              </div>
        </ng-container>
    </div>

    <!-- The Modal -->
    <div id="NewNodeModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span (click)="closeModal()" class="close">&times;</span>
            <section>
                <h1>Create new Node:</h1>
                <form [formGroup]="nodeForm" (ngSubmit)="onSubmitNode()">
                    <p>
                        <label>Data:</label>
                        <textarea formControlName="data" required></textarea>
                    </p>
                    <p>
                        <label>Description:</label>
                        <textarea formControlName="description" required></textarea>
                    </p>
                    <p>
                        <label>Title:</label>
                        <input type="text" formControlName="title" required>
                    </p>
                    <p>
                        <label>Type:</label>
                        <input type="text" formControlName="type" required>
                    </p>
                    <p>
                        <button type="submit" [disabled]="!nodeForm.valid">Submit</button>
                    </p>
                </form>
            </section>
        </div>
    
    </div>

</div>