/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    display: block;
    margin: 0;
}

label {
    display: block;
    margin: 0 0 10px;
    color: gray;
    font-size: 14px;
    line-height: 1;
    float: left;
}

input, textarea {
    outline: none;
    display: block;
    background: #cfcfcf;
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgb(98, 98, 98);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: 0.3s ease;
}

input:focus, textarea:focus {
    color: rgb(43, 43, 43);
}

button {
    outline: none;
    background: gray;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: white;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: rgb(156, 156, 156);
}

button:disabled,
button[disabled]{
    background: rgb(186, 186, 186);
    cursor: initial;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 12px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }